@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #ffffff;
  
  --color-primary: #f59e0b;
  --color-primary-foreground: #ffffff;
  
  --color-accent: #f59e0b;
  --color-accent-foreground: #ffffff;
  
  --color-muted: #1e293b;
  --color-muted-foreground: #94a3b8;
  
  --color-border: rgba(255, 255, 255, 0.1);
  --color-card: #0f172a;
  --color-card-foreground: #ffffff;
}